.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
}

.flexWrapper:nth-child(even) {
  background-color: var(--side);
}

.flexWrapper:nth-child(odd) {
  background-color: var(--fore);
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5em;
}

.flexItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 4em;
  min-height: 4em;
}

.flexItem label {
  font-weight: 500;
}

.flexItem button {
  width: 3em;
  height: 3em;
}

.entryName {
  font-weight: 500;
  padding: 0 0.4em;
  width: 8em;
  text-align: center;
}

@media only screen and (max-width: 380px) {
  .flexWrapper {
    flex-direction: column;
  }
}

.categoryHeading {
  display: flex;
  justify-content: space-between;
}

/* 

.entriesTable {
  text-align: left;
  background: #ccc;

  display: grid;
  grid-template-columns: minmax(9em, 36em);
  grid-template-rows: auto;
}

.addItem {
  display: flex;
  margin: 1em 0 0 0.4em;
  font-size: 1.2em;
  font-weight: 500;
}

.col:first-child {
  word-break: break-word;
  margin-left: 0.4em;
}

.row:nth-child(2) {
  border-bottom: 1px black solid;
}

.row {
  display: grid;
  grid-template-rows: minmax(2.2em, auto);
  grid-template-columns:
    minmax(auto, 2fr) minmax(auto, 1fr) minmax(auto, 1fr) minmax(auto, 1fr)
    3em;
  grid-column-gap: 0.5em;
  align-items: center;
}

.row:nth-child(odd) {
  background: rgb(173 192 201);
}

.buttonsContainer {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

.submitButton {
  background-color: #ccc;
  width: 2em;
  height: 2em;
}

.templateHeading {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-left: 0.2em;

  font-size: 1.2em;
  font-weight: 500;
}

.templateHeading > h3 {
  margin: 0;
}

.entryHeader {
  font-weight: 500;
}

.tableData {
  vertical-align: middle;
} */

.numVal {
  font-size: 1em;
  height: 2em;
  width: 2em;
  border: 0;
}

.numPadContainer {
  position: relative;
  width: fit-content;
}

.numPadContainer button {
  position: absolute;
  width: 3.6em;
  height: 2rem;
  padding: 0.25em 0;
  margin: 0;
  border: 0;
}

.numBuff {
  top: -2.4em;
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;

  background: var(--foreLight);
}

.numDebuff {
  bottom: -2.4em;
  left: 0;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  background: var(--contrast);
}

.numPad {
  font-size: 1em;
  padding: 0;
  height: 2em;
  width: 3em;
  border: 0;
  text-align: center;
  font-weight: bold;
}

