

.graphFlexContainer {
  background: var(--side);
  display: flex;
  flex-direction: column;
    padding: 0 3% 2em 3%;
}

.entryForm {
  display: flex;
  flex-direction: column;
}

.entryForm select {
  background: none;
  border: none;
  font-size: 1.8em;
  font-family: monospace;
  font-weight: 800;
}

.svgContainer {
  background: var(--foreLight);
  padding: 1.5em 0;
}

.graphText {
  font-size: 1.4em;
  font-family: monospace;
  font-weight: 600;
  text-transform: capitalize;
}

.lineText {
  font-size: 1em;
  font-family: monospace;
  font-weight: 200;
}

.graphDateRange {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}