.graphContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.graphFlexContainer {
  background: var(--side);
  display: flex;
  flex-direction: column;
  padding: 1em 3% 2em 3%;
}

.entryForm {
  display: flex;
  flex-direction: column;
}

.entryForm select {
  background: none;
  border: none;
  font-size: 1.8em;
  font-family: monospace;
  font-weight: 800;
}

.svgContainer {
  background: var(--foreLight);
  padding: 1.5em 0;
}

.graphTextContainer {
  display: flex;
  align-items: center;
}

.graphText {
  font-size: 1.4em;
  font-family: monospace;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.lineText {
  font-size: 1em;
  font-family: monospace;
  font-weight: 200;
}

.graphDateRange {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barSvgContainer{
  transform: rotate(180deg);
}