.headingContainer {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin: 0 0 0.75em 0;
}
h1.heading {
  color: var(--contrast)
}

.menuSelections {
  display: flex;
  column-gap: 1em;
  font-size: 1.4em;
}
/* 
.active > .menuItem {
  background: linear-gradient(0deg, var(--fore), transparent 90%);
}
 */
.menuItem:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a.inactive {
  color: var(--contrastDark);
  margin: 0 0 0.1em 0;
}

a.active {
  color: white;
  border-bottom: white 0.1em solid;
}
