.heading {
  margin: 0 0 0.75em 0;
}

.menuSelections {
  font-size: 1.3em;
  color: orange;
  display: flex;
  column-gap: 1em;
}

.menuItem {
  padding: 0.4em 0.1em 0.1em 0.1em;
}

.active > .menuItem {
  background: linear-gradient(0deg, #ccc, transparent 90%);
}

.menuItem:hover {
  cursor: pointer;
}

a.inactive {
  color: black;
  text-decoration: none;
}

a.active {
  color: white;
}
