.heading {
  margin: 0 0 0.75em 0;
}

.menuSelections {
  display: flex;
  column-gap: 1em;
  font-size: 1.4em;
}

.active > .menuItem {
  background: linear-gradient(0deg, #ccc, transparent 90%);
}

.menuItem:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a.inactive {
  color: black;
  margin: 0 0 0.1em 0;
}

a.active {
  color: white;
  border-bottom: white 0.1em solid;
}
