.App {
  display: flex;
  justify-content: center;
}

.App>div {
  width: calc(100vw / 2 + 14em);
}

.iconTextLink {
  display: flex;
  align-items: center;
}

.iconTextLink span {
  margin: 0 0.1em;
}

.buttonNoDefault,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
