:root {
  --foreLight: #bab5f6;
  --background: #7795d7;
  --fore: #a7a7fd;
  --side: #3676c5;
  --contrast: #00438a;
  --contrastDark: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--contrastDark);
  /* background-color: rgb(138, 138, 138); */
  background-color: var(--background);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {  
  padding: 0.4em;
  background: var(--foreLight);
  border: none;
  box-shadow: var(--contrast) 2px 3px;
}