:root {
  --foreLight: #84B37E;
  --fore: #6EA565;
  --side: #658DA4;
  --sidealt: #65A487;
  --contrast: #9C65A4;
  --contrastDark: #201422;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(138, 138, 138); */
  background-color: var(--sidealt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
